<h1>Item</h1>
<%= render "shared/item_search", { path: new_item_path } %>
<div>
  <% if @item.present? %>
  <%= render "shared/error_messages", { object: @item } %>
    <table>
      <tr>
        <td>No.</td>
        <td><%= @item.item_id %></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><%= @item.name %></td>
      </tr>
    </table>
    <%= image_tag(@item.image_url, size: "100") %>

    <%= form_with model: @item, local: true do |f| %>
      <%= f.hidden_field :item_id  %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :image_url %>
      <%= f.submit 'ゲット', name: nil %>
    <% end %>
  <% else %>
    <p>検索してね！</p>
  <% end %>
</div>
<br>
<div><%= link_to "戻る", items_path %></diV>
